.add-item-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

input.add-item-input {
    padding: 10px;
    border: 2px solid #00aaff;
    border-radius: 8px;
    width: 100%;
    background-color: #2e2e2e;
    color: #ffffff;
    font-size: 16px;
}

button.add-item-button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button.add-item-button:hover {
    background-color: #218838;
}
