.completed-select {
    background-color: #e6f4ea;
    color: #218838;
    border: 1px solid #c3e6cb;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
  }
  
  .incomplete-select {
    background-color: #fdecea;
    color: #c82333;
    border: 1px solid #f5c6cb;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
  }

  .completed-select:focus,
  .incomplete-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.25);
  }
  
  select:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(33, 136, 221, 0.5);
  }
  